.visualCanvas {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  background: url("/assets/background.svg") no-repeat center center;
  background: linear-gradient(to bottom, #85B0FF 60%, #B3D0FF);
  background-size: cover;
  padding: 2rem;
}

.visualCanvas canvas {
  height: 100%;
  max-width: 100%;
  width: auto;
  aspect-ratio: 16 / 9;
  will-change: transform;
  background: url("/assets/hui_backdrop.webp") no-repeat center center;
  background-size: cover;
}
